:root {
  --fc-daygrid-event-dot-width: 8px;
  --color-success: #17b26a;
  --color-warning: #f79009;
  --color-error: #f04438;
  --color-fg-primary: #101828;
  --color-fg-error-primary: #d92d20;
  --color-fg-brand-primary: #005b85;
  --color-fg-quarterary: #667085;
  --color-brand: #2a719d;
  --color-primary: #101828;
  --color-secondary: #344054;
  --color-gray-primary: #475467;
  --color-gray-secondary: #98a2b3;
  --color-border-primary: #d0d5dd;
  --color-border-secondary: #eaecf0;
}

.fc-theme-standard th {
  background-color: #ecf0f4;
  padding: 0px;
  border: 1px solid #ddd;
}
.fc .fc-col-header-cell-cushion {
  text-decoration: none;
  color: #407096;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 15px;
  padding: 7px 0px;
}
.fc .fc-daygrid-day-number {
  text-decoration: none;
  color: #000000;
}

.fc .fc-toolbar-title {
  font-size: 18px;
  margin: 0px;
  font-weight: 700;
}
.fc .fc-button {
  padding: 3px 5px;
  box-shadow: none;
  outline: 0px;
}
.fc .fc-button .fc-icon {
  font-size: 14px;
}
.fc .fc-toolbar.fc-header-toolbar {
  margin-bottom: 15px;
}

.fc-direction-ltr .fc-daygrid-event .fc-event-time {
  display: none;
}
.fc .fc-daygrid-event {
  color: #444;
}

.nav-dropdown .dropdown-toggle::after {
  content: none !important;
}

.dropdown-menu-guide {
  top: 48px !important;
}

.dropdown-item.active,
.dropdown-item:active {
  background-color: #f9fafb !important;
  color: #000 !important;
}

.custom-divider {
  margin: 4px 0;
}

.dropdown-menu-end {
  padding-bottom: 4px;
}

.custom-scrollbar::-webkit-scrollbar {
  background-color: #fff;
  width: 16px;
}

/* background of the scrollbar except button or resizer */
.custom-scrollbar::-webkit-scrollbar-track {
  background-color: #fff;
}
.custom-scrollbar::-webkit-scrollbar-track:hover {
  background-color: #fff;
}

/* scrollbar itself */
.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #eaecf0;
  border-radius: 18px;
  border: 6px solid #fff;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #d2d4d8;
  border: 6px solid #f4f4f4;
}

/* set button(top and bottom of the scrollbar) */
.custom-scrollbar::-webkit-scrollbar-button {
  display: none;
}

.no-scroll::-webkit-scrollbar {
  display: none;
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}

.custom-thin-scrollbar {
  width: 100%;
}

/* width */
.custom-thin-scrollbar::-webkit-scrollbar {
  width: 10px;
  height: 90%;
}

/* Track */
.custom-thin-scrollbar::-webkit-scrollbar-track {
  border-radius: 10px;
  height: 90% !important;
}

/* Handle */
.custom-thin-scrollbar::-webkit-scrollbar-thumb {
  background: #eaecf0;
  border-radius: 10px;
  border: 1px solid #fff;
}

.optionContainer::-webkit-scrollbar {
  width: 10px;
  height: 90%;
}

/* Track */
.optionContainer::-webkit-scrollbar-track {
  border-radius: 10px;
  height: 90% !important;
}

/* Handle */
.optionContainer::-webkit-scrollbar-thumb {
  background: #eaecf0;
  border-radius: 10px;
  border: 1px solid #fff;
}

li.option:hover {
  background-color: #f9fafb !important;
  color: #101828 !important;
}

ul.option {
  list-style-type: none;
}

li.option {
  list-style-type: none;
}

/* clears the ‘X’ from Internet Explorer */
input[type='search']::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}
input[type='search']::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}
/* clears the ‘X’ from Chrome */
input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
  display: none;
}

@media only screen and (min-width: 992px) {
  .area-color-guide-modal {
    max-width: 640px;
  }
}

@media only screen and (max-width: 600px) {
  .area-color-guide-modal {
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
  }
}

.modal-header .next-modal-title {
  color: #101828;
}

input[type='number'].no-spinner::-webkit-inner-spin-button,
input[type='number'].no-spinner::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.censor {
  text-security: disc;
  -webkit-text-security: disc;
  -mox-text-security: disc;
}

.body-scroll-lock {
  overflow: hidden;
}

.react-datepicker__triangle {
  left: 50px !important;
}

@media print {
  .noprint {
    visibility: hidden;
  }
}

.react-datepicker__header {
  background-color: #fff !important;
  opacity: 1 !important;
  border-bottom: none !important;
}

.react-datepicker__navigation--previous {
  left: 30px !important;
  top: 30px !important;
}

.react-datepicker__navigation--next {
  right: 30px !important;
  top: 30px !important;
}

.react-datepicker__month-read-view--down-arrow,
.react-datepicker__year-read-view--down-arrow {
  top: 5px !important;
}

.react-datepicker__navigation--icon-next:before {
  content: 'x' !important;
}

.react-datepicker {
  border: none !important;
  font-family: 'DM Sans', sans-serif !important;
  box-shadow: -2px -2px 4px rgba(0, 0, 0, 0.15) !important;
}

.react-datepicker__month-container {
  padding: 20px 24px !important;
}

.react-datepicker__day {
  padding: 8px !important;
  width: 40px !important;
  margin: 0 !important;
}

.react-datepicker .react-datepicker__year-option,
.react-datepicker__month-option {
  background-color: white !important;
}

.react-datepicker__month-option--selected,
.react-datepicker__year-option--selected {
  background-image: url('/images/check-square-broken.svg');
  background-repeat: no-repeat;
  background-position: center;
  width: 16px;
  height: 16px;
  color: transparent;
  user-select: none;
}

.react-datepicker .react-datepicker__day--today {
  border-radius: 50%;
  background-color: #5184ab !important;
  color: white !important;
}

.react-datepicker .react-datepicker__day--selected:not(.react-datepicker__day--today) {
  border-radius: 50%;
  background-color: #005b85 !important;
  color: white !important;
}

.react-datepicker .react-datepicker__day:hover:not(.react-datepicker__day--disabled) {
  border-radius: 50%;
  background-color: #005b85 !important;
  color: white !important;
}

.react-datepicker__day,
.react-datepicker__--030 {
  border-radius: 50% !important;
}

.react-datepicker__day {
  font-size: 14px !important;
  font-weight: 400 !important;
  color: #344054 !important;
}

.react-datepicker__day-name {
  font-size: 14px !important;
  font-weight: 500 !important;
  color: #344054 !important;
  padding: 8px !important;
  width: 40px !important;
  margin: 0 !important;
}

.react-datepicker__day--outside-month,
.react-datepicker__day--disabled {
  font-size: 14px !important;
  font-weight: 400 !important;
  color: #667085 !important;
}

.react-datepicker__month-read-view,
.react-datepicker__year-read-view {
  font-size: 16px !important;
  font-weight: 600 !important;
  color: #344054 !important;
}

.react-datepicker__children-container {
  width: 320px !important;
}

.rti--container .rti--tag {
  background-color: #fff;
  border: 1px solid #d0d5dd;
  border-radius: 6px;
  padding: 2px 0 2px 9px;
}

.rti--container .rti--tag button {
  font-size: 10px;
  color: #98a2b3 !important;
  font-weight: 900;
  padding-top: 2px;
}

.rti--container {
  --rti-main: #d0d5dd !important;
  --rti-border: #d0d5dd !important;
  padding: 10px 14px !important;
}

input[type='range'] {
  height: 32px;
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;
}
input[type='range']:focus {
  outline: none;
}
input[type='range']::-webkit-slider-runnable-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #ffffff;
  background: #005b85;
  border-radius: 50px;
  border: 0px solid #ffffff;
}
input[type='range']::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #ffffff;
  border: 2px solid #005b85;
  height: 24px;
  width: 24px;
  border-radius: 12px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -9px;
}
input[type='range']:focus::-webkit-slider-runnable-track {
  background: #005b85;
}
input[type='range']::-moz-range-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #ffffff;
  background: #005b85;
  border-radius: 50px;
  border: 0px solid #ffffff;
}
input[type='range']::-moz-range-thumb {
  box-shadow: 0px 0px 0px #ffffff;
  border: 2px solid #005b85;
  height: 24px;
  width: 24px;
  border-radius: 12px;
  background: #ffffff;
  cursor: pointer;
}
input[type='range']::-ms-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type='range']::-ms-fill-lower {
  background: #005b85;
  border: 0px solid #ffffff;
  border-radius: 100px;
  box-shadow: 0px 0px 0px #ffffff;
}
input[type='range']::-ms-fill-upper {
  background: #005b85;
  border: 0px solid #ffffff;
  border-radius: 100px;
  box-shadow: 0px 0px 0px #ffffff;
}
input[type='range']::-ms-thumb {
  margin-top: 1px;
  box-shadow: 0px 0px 0px #ffffff;
  border: 2px solid #005b85;
  height: 24px;
  width: 24px;
  border-radius: 12px;
  background: #ffffff;
  cursor: pointer;
}
input[type='range']:focus::-ms-fill-lower {
  background: #005b85;
}
input[type='range']:focus::-ms-fill-upper {
  background: #005b85;
}

.box-shadow-custom-left {
  box-shadow: -4px 0px 8px -4px rgba(16, 24, 40, 0.03), 0px -4px 8px -4px rgba(16, 24, 40, 0.03),
    4px 0px 8px -4px rgba(16, 24, 40, 0.03);
}

.box-shadow-custom-right {
  box-shadow: 0px -4px 8px -4px rgba(16, 24, 40, 0.03), 20px 0px 24px -4px rgba(16, 24, 40, 0.08),
    0px 4px 8px -4px rgba(16, 24, 40, 0.03);
}

.div-with-gradient {
  background: linear-gradient(
    267.35deg,
    #f0f9ff 2.4%,
    #eff4ff 12.24%,
    #f5f3ff 22.26%,
    #fdf4ff 33.32%,
    #fff1f3 43.15%,
    #fff4ed 54.59%,
    #fefbe8 65.52%,
    #f3fee7 80.24%,
    #f0fdf9 94.85%
  );
  width: 100%;
  height: 36px;
  transition: 'background 0.3s ease';
}

.div-for-gradient:hover {
  background: linear-gradient(
    267.35deg,
    #f0fdf9 2.4%,
    #f3fee7 12.24%,
    #fefbe8 22.26%,
    #fff4ed 33.32%,
    #fff1f3 43.15%,
    #fdf4ff 54.59%,
    #f5f3ff 65.52%,
    #eff4ff 80.24%,
    #f0f9ff 94.85%
  );
}

.CircularProgressbar-text {
  transform: translate(0px, -10px);
}

.birthday-now {
  background: linear-gradient(
    331.58deg,
    #f0f9ff -13.35%,
    #eff4ff -2.45%,
    #f5f3ff 8.65%,
    #fdf4ff 20.88%,
    #fff1f3 31.77%,
    #fff4ed 44.43%,
    #fefbe8 56.54%,
    #f3fee7 72.82%,
    #f0fdf9 89.01%
  );
}

.Toastify__toast-body {
  font-family: 'DM Sans', sans-serif !important;
}

.no-clock-icon::-webkit-calendar-picker-indicator {
  filter: brightness(0) invert(1);
}

.react-datepicker__month-select, .react-datepicker__year-select {
  border-color: var(--color-border-secondary);
  border-radius: 5px;
  height: 30px;
}

.react-datepicker__month-dropdown-container--select {
  border-color: var(--color-border-secondary);
}

.react-datepicker__day--in-range {
  color: #fff !important;
}

.react-datepicker__day--in-range.react-datepicker__day--outside-month {
  color: #E1D9D1 !important;
}
